<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>title</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local path -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>
    <script src="../public/scripts/index.js"></script>

    <!-- Server path -->
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
    <!-- <script src="/scripts/main.js"></script> -->

</head>
<body>
    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <div class="nav-content">
                                <ul class="tabs tabs-transparent">
                                    <li class="tab"><a href="#test1" class="active">Test 1</a></li>
                                    <li class="tab"><a href="#test2">Test 2</a></li>
                                    <li class="tab"><a href="#test3">Test 3</a></li>
                                    <li class="tab"><a href="#test4">Test 4</a></li>
                                </ul>
                            </div>
                </ul>
            </div>
            
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>

    </header>
    
    <main>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
    </main>

    <footer>

    </footer>
</body>
</html>