<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>title</title>

    <!-- Local path -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Server path -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>
<body>
    <h1>안녕하세요 재용입니다</h1>
    
    <h1>안녕하세요! 방성훈입니다!</h1>
</body>
</html>