@font-face{ 
    font-family:'SeoulNamsan';
    src:url('fonts/SeoulNamsanL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --point-color: #b247d1;
}

html {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    scroll-behavior: smooth;
}

@media (max-width: 992px) {
}

@media (max-width: 601px) {
}